<div id="licenciamiento" class="containerPrincipalModulos">
  <div class="modulo-header">Licencias</div>

  <!-- <div class="modulo-body">
    <p>Aquí puedes administrar las licencias asignadas a los usuarios de la organización.</p>
    <p>Incluye opciones para agregar, quitar o modificar licencias.</p>
  </div> -->

  <div id="contenidoPrincipal_licenciamiento" style="display: none;">

    <div class="containerOpcionesTabla">
      <div class="seccionTabla">
        <!-- Contenedor para Licencias Microsoft 365 -->
        <div class="contenedor-tabla-licencias">
          <h2>Licencias de Pago</h2>
          <p>
            Esta tabla muestra las licencias comerciales de Microsoft 365. Las licencias destacadas en naranja
            corresponden a planes principales, mientras que las verdes representan complementos específicos para
            funcionalidades avanzadas o servicios adicionales.
          </p>
          <table id="tablaLicenciasMicrosoft365" class="display">
            <thead>
              <!-- Encabezado generado dinámicamente -->
            </thead>
            <tbody>
              <!-- Datos de la tabla -->
            </tbody>
          </table>
        </div>

        <!-- Contenedor para Licencias Free Trial -->
        <div class="contenedor-tabla-licencias">
          <h2>Licencias Gratuitas o de Evaluación</h2>
          <p>
            Aquí podrá visualizar las licencias sin costo disponibles, incluyendo versiones de prueba con funcionalidad
            limitada y planes gratuitos con características básicas. Estas licencias son ideales para evaluaciones
            iniciales o entornos con requisitos mínimos.
          </p>
          <table id="tablaLicenciasFreeTrial" class="display">
            <thead>
              <!-- Encabezado generado dinámicamente -->
            </thead>
            <tbody>
              <!-- Datos de la tabla -->
            </tbody>
          </table>
        </div>

        <!-- Contenedor para Licencias Sin Categorizar -->
        <div class="contenedor-tabla-licencias">
          <h2>Licencias Sin Clasificar</h2>
          <p>
            Licencias pendientes de categorización en el sistema. Para una correcta visualización en este módulo y en la
            sección de usuarios, por favor diríjase al panel de configuración y complete la parametrización
            correspondiente para cada tipo de licencia.
          </p>
          <table id="tablaLicenciasSinCategorizar" class="display">
            <thead>
              <!-- Encabezado generado dinámicamente -->
            </thead>
            <tbody>
              <!-- Datos de la tabla -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>